<mat-nav-list>
  <a mat-list-item routerLink="/viewInwards">
    <mat-icon>dashboard</mat-icon>
    Inwards List</a>
  <a mat-list-item routerLink="/users">
    <mat-icon>account_box</mat-icon>
    Users</a>
  <a mat-list-item routerLink="/createInwards">
    <mat-icon>description</mat-icon>
    Inwards Create</a>
  <a mat-list-item routerLink="/listItemsUnits">
    <mat-icon>description</mat-icon>
    Item Units</a>
  <a mat-list-item routerLink="/listProduct">
    <mat-icon>description</mat-icon>
    Products</a>
  <a mat-list-item routerLink="/catList">
    <mat-icon>description</mat-icon>
    Category Types</a>
  <a mat-list-item routerLink="/stockList">
    <mat-icon>description</mat-icon>
    Stock List</a>
  <a mat-list-item routerLink="/storageList">
    <mat-icon>description</mat-icon>
    Storage Location</a>
<!--  <a mat-list-item routerLink="/storageList">
    <mat-icon>description</mat-icon>
    Storage Location</a> -->
</mat-nav-list>
