<div class="container-fluid px-4">
  <div class="container-fluid px-4">
    <div style="text-align: end;padding-top: 10px;">
      <a class="btn icon-left btn-primary" (click)="createUnit()">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 1V13M13 7L1 7" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
        Create Item Units
      </a>
    </div>
  </div>
  <div class=row>
    <div class=col-md-12>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Short Code</th>
          <th>Detailed Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of listItemsUnitsHttp | paginate : { itemsPerPage: tableSize, currentPage: page, totalItems:count} ">
          <td>{{item.shortCode}}</td>
          <td>{{item.detailedName}}</td>
          <td><button routerLink="/editItemUnits/{{item.refId}}" type="button" class="btn btn-primary">Edit</button></td>
          <td><button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<div class = "row">
  <div class = "col-4">
    <select (change)="onTableSizeChange($event)">
      <option *ngFor = "let size of tableSizes">
        {{size}}
      </option>
    </select>
  </div>
  <div class = "col-8">
    <pagination-controls
      previousLabel = "Prev"
      nextLabel = "Next"
      (pageChange) = "onTableDataChange($event)"
    />
  </div>
</div>
</div>







