<!-- <div class="container-fluid px-4" style="text-align: -webkit-center;">
  <div class="row mt-9">
    <div class="row mt-4">
      <h1 class="title">Login</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row col-sm-4 mt-2">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="username">
        </mat-form-field>
      </div>
      <div class="row col-sm-4 mt-2">
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>

  </div>
</div> -->

<div class="login-container">
  <div class="image-container">
    <!-- <img src="assets/images/login_01.jpg" alt="login-image" /> -->
    <mat-divider [vertical]="true" inset="true"></mat-divider>
  </div>
  <div class="component-container" >
    
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Enter your username"
              formControlName="username"
            />
          </mat-form-field>
         <br/>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Enter your password"
              formControlName="password"
            />
          </mat-form-field>
          <br />
          <button mat-raised-button color="primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
