<!-- <div class="container-fluid px-4">
  <div style="text-align: end; padding-top: 10px">
    <a class="btn icon-left btn-primary" (click)="createStorage()">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 1V13M13 7L1 7"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
      Create Storage
    </a>
  </div>
</div>

<div class="white-box">
  <div class="search-block">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-12">
        <div class="searchResult">
          <div
            class="search-box mb-sm-mt-2"
            style="padding-bottom: 10px; padding-top: 10px"
          >
            <form>
              <input
                class="form-control"
                type="text"
                name="Search"
                placeholder="Search by name"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Identification </th>
          <th>Detailed Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations">
          <td>{{ location.identificationCode }}</td>
          <td>{{ location.detailedDescription }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              routerLink="/editStorage/{{ location.referenceId }}"
            >
              Edit
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 -->

<div class="top-container">
  <div class="heading"><span> Storage Locations</span></div>
  
  <div class="button-container">
    <button mat-raised-button (click)="createStorage()" class="demo-button">
      New Storage
    </button>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="locations">
      <ng-container matColumnDef="identificationCode">
        <th mat-header-cell *matHeaderCellDef>Short Code</th>
        <td mat-cell *matCellDef="let location">
          {{ location.identificationCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="detailedDescription">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let location">
          {{ location.detailedDescription }}
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let location">
          <button type="button" mat-icon-button routerLink="/editStorage/{{ location.referenceId }}"> <mat-icon   fontIcon="edit"></mat-icon></button>
                  </td>
      </ng-container>
      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let location">
            <button type="button" mat-icon-button> <mat-icon  >delete_forever</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
   </div>
</div>
