<div class="container-fluid px-4">
  <div style="text-align: end;padding-top: 10px;">
    <a class="btn icon-left btn-primary" (click)="createUser()">
      <i class="fa fa-user"></i>
      Create User
    </a>
  </div>

  <div style="padding-bottom: 10px;padding-top: 10px;">
    <form>
      <input class=" form-control" type="text" name="Search"
             placeholder="Search by name">
    </form>
  </div>

  <div class=row>
    <div class=col-md-12>
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of userList">
          <td><a class="link-blue-primary"
                 routerLink="/viewUser/{{item.referenceId}}">{{item.fullName}}</a></td>
          <td>{{item.loginName}}</td>
          <td>{{item.contactEmail}}</td>
          <td>{{item.userRoleEntity?.shortCode}}</td>
          <td>{{item.status}}</td>
          <td><a routerLink="/editUser/{{item.referenceId}}"><i class='fa fa-edit' style="color:green;"></i></a>
          </td>
          <td><a (click)="openDeleteDialog(item)"><i class="fa fa-trash" ></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <select (change)="onTableSizeChange($event)">
        <option *ngFor="let size of tableSizes">
          {{size}}
        </option>
      </select>
    </div>
    <div class="col-8">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
