<div class="container-fluid px-4">
  <div class="col-sm-12 col-lg-12">
    <form [formGroup]="userForm" (ngSubmit)="editUserDetails()">
      <div class="row mt-4">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="fullName" required>
            <mat-error *ngIf="userForm.get('fullName')?.invalid">Name is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="contactEmail" required>
            <mat-error *ngIf="userForm.get('contactEmail')?.invalid">Email is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="10"
                   maxlength="10" matInput
                   placeholder="Phone"
                   formControlName="contactPhone" required>
            <mat-error *ngIf="userForm.get('contactPhone')?.invalid">Phone is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="loginName" required>
            <mat-error *ngIf="userForm.get('loginName')?.invalid">Username is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput type="text" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput placeholder="additionalInfo" formControlName="additionalInfo">
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4 mt-2">
          <mat-form-field>
            <mat-label>Select a role</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role.role">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.get('role')?.invalid">Select a role</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 mt-4 text-end">
          <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Update User
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
